@page "/addedituser"
<div class="mx-4 px-4">
    <div class="row">
        <div class="col-md-6">
            <h3>Add Student</h3>
        </div>
        <div class="col-md-6 text-end">
            <a href="javascript:history.back()" class="btn btn-link">Back</a>
        </div>
    </div>
    <hr />
</div>



<EditForm Model="@_addStudent" OnValidSubmit="AddStudent" class="mx-4 px-4">
    <DataAnnotationsValidator />

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="firstname">First Name:</label>
        <div class="col-sm-6">
            <InputText id="firstname" class="form-control" @bind-Value="_addStudent.FirstName" />
            <ValidationMessage For="@(() => _addStudent.FirstName)" />
        </div>
    </div>
   
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="lastname">Last Name:</label>
        <div class="col-sm-6">
            <InputText id="lastname" class="form-control" @bind-Value="_addStudent.LastName" />
            <ValidationMessage For="@(() => _addStudent.LastName)" />
        </div>
    </div>
   
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="email">Email:</label>
        <div class="col-sm-6">
            <InputText id="email" class="form-control" @bind-Value="_addStudent.Email" />
            <ValidationMessage For="@(() => _addStudent.Email)" />
        </div>
    </div>
    
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="password">Password:</label>
        <div class="col-sm-6">
            <InputText id="password" class="form-control" @bind-Value="_addStudent.Password" />
            <ValidationMessage For="@(() => _addStudent.Password)" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="mobilNo">Mobile No:</label>
        <div class="col-sm-6">
            <InputText id="mobileNo" class="form-control" @bind-Value="_addStudent.MobileNo" />
            <ValidationMessage For="@(() => _addStudent.MobileNo)" />
        </div>
        
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="address">Address:</label>
        <div class="col-sm-6">
            <InputText id="address" class="form-control" @bind-Value="_addStudent.Address" />
            <ValidationMessage For="@(() => _addStudent.Address)" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="dob">Date Of Birth:</label>
        <div class="col-sm-6">
            <InputDate id="dob" class="form-control" @bind-Value="_addStudent.DOB" />
            <ValidationMessage For="@(() => _addStudent.DOB)" />
        </div>
    </div>
    
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="fatherName">Father Name:</label>
        <div class="col-sm-6">
            <InputText id="fatherName" class="form-control" @bind-Value="_addStudent.FatherName" />
            <ValidationMessage For="@(() => _addStudent.FatherName)" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="motherName">Mother Name:</label>
        <div class="col-sm-6">
            <InputText id="motherName" class="form-control" @bind-Value="_addStudent.MotherName" />
            <ValidationMessage For="@(() => _addStudent.MotherName)" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="roleId">Role:</label>
        <div class="col-sm-6">
            <InputSelect id="roleId" class="form-select" @bind-Value="_addStudent.RoleId">
                <option value="">Select Role</option>
                @foreach (var role in _roles)
                {
                    <option value="@role.Id">@role.RoleName</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => _addStudent.RoleId)" />
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label"  for="rollNo">Roll No:</label>
        <div class="col-sm-6">
            <InputNumber id="rollNo" class="form-control" @bind-Value="_addStudent.RollNo" />
            <ValidationMessage For="@(() => _addStudent.RollNo)" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="batch">Batch:</label>
        <div class="col-sm-6">
            <InputText id="batch" class="form-control" @bind-Value="_addStudent.Batch" />
            <ValidationMessage For="@(() => _addStudent.Batch)" />
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="Degree">Degree:</label>
        <div class="col-sm-6">
            <InputSelect id="degreeId" class="form-select" @bind-Value="_addStudent.DegreeId">
                <option value="">Select Degree</option>
                @foreach (var role in _degrees)
                {
                    <option value="@role.Id">@role.DegreeName</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => _addStudent.DegreeId)" />
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary w-50 ms-4" @onclick="AddStudent">Save</button>
        </div>
    </div>

</EditForm>


@code {
    [Inject]
    protected HttpClient HttpClient { get; set; }

    private AddUpdateStudentVM _addStudent = new AddUpdateStudentVM();
    private List<RolesVM>? _roles = new ();
    private List<DegreeVM>? _degrees = new ();

    #pragma warning restore CS8616
    protected override async Task OnInitializedAsync()
    {
        _roles = await HttpClient.GetFromJsonAsync<List<RolesVM>?>(APIEndPoints.GetAllRolesUrl);
        _degrees = await HttpClient.GetFromJsonAsync<List<DegreeVM>?>(APIEndPoints.GetAllDegreesUrl);
    }

    private async Task AddStudent()
    {
        var response = await HttpClient.PostAsJsonAsync(APIEndPoints.AddStudentUrl, _addStudent);
    }
}
